body {
    background: var(--primary-color);
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

* {
    color: var(--text-color-light);
}

header {
    position: fixed;
    top: 0px;
    height: 256px;
    width: 90%;
    left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    font-size: 48px;
    text-decoration: none;
}

#logout {
    margin: 0;
    height: 112px;
    filter: invert(13%) sepia(93%) saturate(6800%) hue-rotate(359deg) brightness(98%) contrast(108%);
}

#flags {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: fit-content;
    display: flex;
    gap: 32px;
}


#flags img {
    object-fit: contain;
    width: 160px;
    margin: 16px;
    width: 168px;
    border-radius: 15px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.9);
}

#selected-language {
    box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.9) !important;
}

header img:hover,
header img:active {
    transform: scale(0.95);
}

main {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 32px;
    padding: 32px
}

.game {
    display: flex;
    flex-direction: column;
}

.game img {
    height: 36vh;
    max-width: 40vw;
    min-width: 30vw;
    object-fit: fill;
    border-radius: 15px;
    box-shadow: var(--card-shadow);
}

.game h1 {
    font-size: 48px;
    margin: 0;
    background-color: var(--secondary-color);
    border-radius: 15px 15px 0 0;
    white-space: nowrap;
    text-align: center;
    padding: 0 8px;
}

.game h2 {
    font-size: 32px;
    margin: 0;
    padding: 8px 0 0 0;
    animation: grow-shrink 1s infinite ease-in-out;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.game p {
    font-size: 32px;
    margin: 0;
    text-align: center;
}

.game hr {
    margin: 0;
    border: 0;
    height: 2px;
    background: var(--text-color-light);
}

.game-text {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0 0 15px 15px;
    height: 20vh;
}

.game-card {
    margin-top: 32px;
    margin-bottom: 32px;
    border-radius: 15px;
    box-shadow: var(--card-shadow);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-close {
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 64px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: var(--text-color-light);
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: 90px;
}

.modal-content {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.modal h1 {
    font-size: 80px;
    height: 92px;
    margin: 0;
    border-radius: 15px 15px 0 0;
    white-space: nowrap;
    text-align: center;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    margin-top: 16px;
    height: 100%;
}

.modal-buttons button {
    font-size: 64px;
    border-radius: 15px;
    min-width: 400px;
    height: 96px;
    background-color: var(--primary-color);
    color: var(--text-color-light);
    border: none;
}

.modal-buttons button span {
    position: relative;
}

.modal-choice {
    font-size: 48px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 128px;
}

button:hover,
button:active {
    transform: scale(0.95);
}

/* Game name fonts */
.quiz-name {
    font-family: Borel;
    height: 47px;
}

#quiz-modal-button {
    font-size: 60px;
    top: -4px;
}

.differences-name {
    font-family: RoadRage;
    font-size: 42px
}

#differences-modal-button {
    font-size: 75px;
    top: -2px;
}

.blindtest-name {
    font-family: Raphigrafie;
    height: 29px;
    display: inline-block;
    font-size: 29px;
}

#blindtest-modal-button {
    top: 15px;
    font-size: 48px;
}

.pacman-name {
    font-family: Crackman;
    font-size: 37px;
}

#pacman-modal-button {
    font-size: 58px;
    top: -2px;
}

.snake-name {
    font-family: GreenSnake;
    color: transparent;
    text-shadow: 0px 0 0 white, -0px 0 0 white, 0 0px 0 white, 0 -0px 0 white;
    font-size: 38px;
}

.puzzle-name {
    font-family: FontsBombJigsaw;
    font-size: 36px;
}

.guesswho-name {
    font-family: Patrickhand;
    font-size: 38px;
}

.tetris-name {
    font-family: VT323;
    font-size: 42px;
}

.maze-name {
    font-family: MayonExquisite;
    font-size: 40px;
}

.flappybird-name {
    font-family: Featheredflight;
    font-size: 34px;
}