body {
    background: var(--primary-color);
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    color: var(--text-color-light);
}

main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h1 {
    font-size: 64px;
    margin: 0;
    text-align: center;
}

p {
    font-size: 32px;
    white-space: pre-wrap;
}

.card img {
    height: 100%;
    border-radius: 89px;
    max-width: 40%;
    object-fit: cover;
}

.card {
    width: 94%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    height: 40%;
    background-color: var(--text-color-light);
    border-radius: 90px;
    /* box-shadow: 4px 4px 16px #000; */
}

.card p {
    padding: 0 32px 0 32px;
    color: var(--primary-color);
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-self: flex-end;
    margin-right: 64px;
    margin-bottom: 32px;
}

button {
    background-color: var(--text-color-light);
    color: var(--primary-color);
    border: none;
    border-radius: 90px;
    padding: 16px 32px;
    font-size: 32px;
}

#nextbutton {
    font-weight: bold;
    line-height: 0;
}

#fullscreenimg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-zoom {
    object-fit: contain;
    box-shadow: 4px 4px 16px #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#magnifier {
    position: absolute;
    bottom: 16px;
    right: 32px;
    font-size: 64px;
    border: none;
    border-radius: 100%;
    padding: 16px 16px;
    width: 384px;
    height: 384px;
    border: 8px solid var(--primary-color);
    background-repeat: no-repeat;
    background-position: -9999px -9999px;
}

/* handle */
#magnifier::after {
    content: "";
    display: block;
    width: 384px;
    height: 64px;
    background-color: var(--primary-color);
    border-radius: 0px 32px 32px 0px;
    position: absolute;
    bottom: -100px;
    right: -270px;
    /* rotate 45 deg */
    transform: rotate(45deg);
}

#magnifier-tutorial {
    position: absolute;
    bottom: 450px;
    right: 108px;
    font-size: 32px;
    color: var(--text-color-light);
    text-align: center;
    transition: opacity 0.5s;
}

#magnifier-tutorial::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid var(--text-color-light);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.fullscreenbuttons {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 101;
}

.fullscreenbuttons button {
    background-color: var(--text-color-light);
    color: var(--primary-color);
    border: none;
    border-radius: 90px;
    padding: 16px 32px;
    font-size: 32px;
}

.fullscreenbuttons hr {
    border: 1px solid var(--text-color-light);
    width: 100%;
}