body {
    background: var(--primary-color);
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    color: var(--text-color-light);
}

main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h1 {
    font-size: 64px;
    margin: 0;
    text-align: center;
}

p {
    font-size: 32px;
    white-space: pre-wrap;
}

.card img {
    height: 100%;
    border-radius: 89px;
    max-width: 40%;
    object-fit: cover;
}

.card {
    width: 94%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    height: 40%;
    background-color: var(--text-color-light);
    border-radius: 90px;
    /* box-shadow: 4px 4px 16px #000; */
}

.card p {
    padding: 0 32px 0 32px;
    color: var(--primary-color);
}

main::after {
    content: ">";
    font-size: 64px;
    position: absolute;
    right: 16px;
    bottom: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: grow-shrink 1.5s infinite ease-in-out;
}