body {
    background-image: url('../img/intro-bg.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

* {
    color: var(--text-color-light);
}

main {
    width: 100%;
    background-color: var(--primary-color);
}

h1 {
    position: relative;
    font-size: 64px;
    margin: 0;
    background-color: var(--secondary-color);
    width: fit-content;
    padding-right: 48px;
    padding-left: 48px;
    text-align: center;
    clip-path: polygon(0% 0%, 98% 0%, 100% 50%, 98% 100%, 0% 100%);
    display: inline-block;
}

#arrowfade {
    display: inline-block;
    position: fixed;
    width: 2%;
    height: 85px;
    background-color: var(--secondary-color);
    margin-left: -38px;
    animation: move-fade 1.5s infinite ease-in-out;
    clip-path: polygon(46% 15%, 46% 0, 100% 50%, 46% 100%, 46% 85%, 85% 50%);
}

@keyframes move-fade {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(128px);
        opacity: 0;
    }
}

p {
    font-size: 40px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

p::after {
    content: ">";
    font-size: 64px;
    position: absolute;
    right: 64px;
    animation: grow-shrink 1.5s infinite ease-in-out;
}