body {
    background-image: url('../img/index-bg.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

* {
    color: var(--text-color-light);
}

main {
    width: 100%;
    background-color: var(--primary-color);
}

h1 {
    font-size: 64px;
    margin: 0;
    background-color: var(--secondary-color);
    width: 30%;
    text-align: center;
    border-radius: 0 0 90px 0;
}

p {
    font-size: 40px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

p::after {
    content: ">";
    font-size: 64px;
    position: absolute;
    right: 64px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: grow-shrink 1.5s infinite ease-in-out;
}