@font-face {
    font-family: "MadimiOne";
    src: url("../fonts/MadimiOne-Regular.ttf") format("truetype");
}

:root {
    --port-primary: #00747a;
    --port-primary-dark: #006b71;
    --port-primary-light: #28b8ce;
    --port-secondary: #ffd500;
}

* {
    font-family: MadimiOne;
    user-select: none;
}

html, body {
    width: 1920px;
    height: 1080px;
}

@keyframes grow-shrink {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}