@font-face {
    font-family: "Borel";
    src: url("../fonts/Borel-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Crackman";
    src: url("../fonts/crackman.regular.otf") format("opentype");
}

@font-face {
    font-family: "Featheredflight";
    src: url("../fonts/Featheredflight-gp61.ttf") format("truetype");
}

@font-face {
    font-family: "Rampart One";
    src: url("../fonts/RampartOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "GreenSnake";
    src: url("../fonts/green-snake-green-snakesvg-400.otf") format("opentype");
}

@font-face {
    font-family: "Madimi One";
    src: url("../fonts/MadimiOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "MayonExquisite";
    src: url("../fonts/MayonExquisiteRegular-9JX5.ttf") format("truetype");
}

@font-face {
    font-family: "Copyduck";
    src: url("../fonts/Copyduck.ttf") format("truetype");
}

@font-face {
    font-family: "Raphigrafie";
    src: url("../fonts/Raphigrafie-1VEZ.ttf") format("truetype");
}

@font-face {
    font-family: "RoadRage";
    src: url("../fonts/RoadRage-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "VT323";
    src: url("../fonts/VT323-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Workbench";
    src: url("../fonts/Workbench-Regular.ttf") format("truetype");
}

:root {
    --primary-color: #62B6CB;
    --secondary-color: #1B4965;
    --text-color-dark: #333;
    --text-color-light: #F8F7FF;
    --card-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

* {
    font-family: "Madimi One";
    user-select: none;
}

html,
body {
    width: 1920px;
    height: 1080px;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

@keyframes grow-shrink {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes panorama {
    0% {
        background-position-x: 0%;
    }

    50% {
        background-position-x: 100%;
    }

    100% {
        background-position-x: 0%;
    }
}

@keyframes animatedArrow {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(8px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(5px);
    }

    60% {
        transform: translateY(8px);
    }
}