#game-container {
    position: relative;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.slide-in {
    animation: slideInFromBottom 1s ease-out;
}

#diff-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#countdown {
    z-index: 1;
    color: black;
    font-size: 32px;
    position: absolute;
    top: 0;
    white-space: pre;
    text-align: center;
}

#differences {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.difference {
    position: absolute;
    border: 4px solid red;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s;
}

#difference1 {
    top: 55px;
    left: 145px;
    width: 64px;
    height: 100px;
}

#difference2 {
    top: 349px;
    left: 114px;
    width: 87px;
    height: 87px;
}

#difference3 {
    top: 421px;
    right: 700px;
    width: 29px;
    height: 165px;
}

#difference4 {
    bottom: 407px;
    right: 443px;
    width: 111px;
    height: 128px;
}

#difference5 {
    bottom: 183px;
    left: 457px;
    width: 109px;
    height: 109px;
}

#difference6 {
    bottom: 92px;
    left: 419px;
    width: 155px;
    height: 82px;
}

#difference7 {
    top: 424px;
    right: 90px;
    width: 266px;
    height: 99px;
}