*{
    font-family: Avenir, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    font-size: 1.5em;
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
}

.conteneur{
    display: grid;
    grid-template-columns: 240px 1440px 240px;
}

.g1{
    background-color: RGBa(16,126,135,1.0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.g2{
    background-color: RGBa(16,126,135,1.0);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.g3{
    background-color: RGBa(16,126,135,1.0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.g1, .g3{
    min-height: 1080px;
}

