#puzzle {
    transition: opacity 1s linear;
    background-position: center;
    background-size: contain;
}

#restart-button {
    border: 0;
    filter: invert(100%);    
}

#restart-button:active {
    opacity: 0.5;  
}