body {
    background: var(--port-primary);
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

* {
    color: #eee;
}

header {
    position: fixed;
    top: 64px;
    height: 280px;
    width: 90%;
    left: 5%;
    display: flex;
    justify-content: space-between;
}

header a {
    font-size: 48px;
    text-decoration: none;
}

#logout {
    margin: 0;
    width: 160px;
    height: 160px;
}

#flags {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 32px;
    width: 300px;
    height: fit-content;
    display: flex;
    gap: 32px;
}

#flags img {
    object-fit: contain;
    width: 160px;
}

main {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 32px;
    padding: 0 32px 0 32px
}

.game {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    text-align: center;
}

.game h1 {
    font-size: 48px;
    margin-bottom: 0;
    background-color: var(--port-secondary);
    border-radius: 15px 15px 0 0; 
}

.game h2 {
    font-size: 32px;
    margin: 0;
    padding: 8px 0 8px 0;
    animation: grow-shrink 1s infinite ease-in-out;
}

.game p {
    font-size: 32px;
    margin: 0;
}

.game-text {
    background-color: #006b71;
    border-radius: 0 0 15px 15px;
    margin-bottom: 32px;
}