@font-face {
    font-family: "MadimiOne";
    src: url("../fonts/MadimiOne-Regular.ttf") format("truetype");
}

:root {
    --port-primary: #057076;
    --port-secondary: #ffd205;
}

* {
    font-family: MadimiOne;
}

@keyframes grow-shrink {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}