#character {
    max-height: 96px;
    max-width: 96px;
}

#game-container {
    /* Stop background image overflowing by stretching it while keeping its ratio */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
}