#character {
    max-height: 96px;
    max-width: 96px;
    animation: grow-shrink 1s infinite ease-in-out;
}

#game-container {
    /* Stop background image overflowing by stretching it while keeping its ratio */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
}

#right {
    justify-content: space-between;
}

#goals {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.15);
    margin-bottom: 24px;
}

#goals p {
    margin: 8px;
}

#goals h1 {
    margin: 0;
}