#restart-button {
    border: 0;
    filter: invert(100%);
}

#restart-button:active {
    opacity: 0.5;
}

#game-container {
    position: relative;
}

.character-name {
    color: black;    
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 20px;
}