@font-face {
	font-family: 'Quadrit';
	src: url('../css/Quadrit.ttf');
}

#message {
	position: relative;
	display: inline;
	margin: 0px;
	padding: 0px;
	top: 70px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff200;
	text-align: center;
	font-family: Quadrit, sans-serif;
	font-size: 40px;
}

#message.red {
	color: red;
}

#board,
#canvas-board,
#canvas-paths,
#canvas-fruits,
#canvas-pacman,
#canvas-bubbles,
#canvas-ghost-blinky,
#canvas-ghost-pinky,
#canvas-ghost-inky,
#canvas-ghost-clyde {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

#canvas-paths {
	display: none;
}

#game-container {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.hud {
	width: 100%;
	height: 256px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}